html,
body {
    height: 100%;
    margin: 0;
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.form-box {
    display: flex;
    width: 800px;
    justify-content: space-between;
    gap: 10px;
}

.btn {
    display: flex;
    font-size: 32px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    width: 400px;
    height: 80px;
}
