body {
  font-family: "Pretendard Variable";
  background: #f9f9f9;
  margin: 0;
  padding: 56px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 56px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.subtitle {
  text-align: center;
  color: #666;
  font-size: 18px;
  margin-bottom: 10px;
}

.callout-box {
  background-color: #f1f3f5;
  padding: 16px;
  border-radius: 8px;
  margin: 20px 0;
  margin-left: 56px;
  margin-right: 56px;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.titlefont {
  font-size: 14px;
}

.contentfont {
  font-size: 16px;
  margin-bottom: 10px;
}

.recommend-list {
  justify-content: center;
  display: grid;
  gap: 20px;
}

.recommend-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: white;
  padding: 20px;
  gap: 40px;
  overflow: hidden;
}

.recommend-card-box {
  border: 1px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 5px;
}

.recommend-card-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.logo-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #aaa;
  font-size: 36px;
}

.recommend-card-box-content {
  position: relative;
  padding: 10px;
}

.btn-detail {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 12px;
  background: #000;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.btn-detail:hover {
  background-color: #333;
}
